@tailwind base;
@tailwind components;
@tailwind utilities;

.custom-scroll::-webkit-scrollbar {
  @apply w-2;
}

.custom-scroll::-webkit-scrollbar-thumb {
  @apply bg-neutral-700 rounded-lg;
}

.quill {
  height: 100%;
}

.ql-snow {
  @apply !border-0;
}

.ql-snow.ql-toolbar {
  @apply bg-base-200 rounded-lg;
}

.ql-snow .ql-stroke {
  @apply dark:!stroke-white !stroke-base-content;
}

.ql-snow .ql-fill {
  @apply dark:!fill-white !fill-base-content;
}
.ql-snow button {
  @apply hover:!bg-base-300 rounded-md;
}

.ql-snow .ql-editor p {
  @apply text-base-content;
}

.ql-snow .ql-editor p code {
  @apply bg-base-300 font-mono dark:text-blue-300 text-blue-600;
}

.ql-snow .ql-editor p a {
  @apply text-blue-600;
}

.ql-snow .ql-editor h1,
.ql-snow .ql-editor h2 {
  @apply text-base-content;
}

.ql-snow .ql-active {
  @apply !bg-black/10 dark:!bg-white/10;
}

html[data-theme="dark"] .monaco-editor .view-overlays .current-line {
  border: 2px solid #14181c;
}

.disableEditor .monaco-scrollable-element.editor-scrollable {
  pointer-events: none;
}

.markdown code {
  @apply inline-block px-2 bg-base-300 rounded-md text-blue-600 dark:text-blue-300;
}

.markdown p {
  @apply text-base-content;
}
